<div class="d-flex justify-content-end">
  <button mat-raised-button color="primary">Agregar Cliente <mat-icon>person_add</mat-icon></button>
</div>
<table class="table" *ngIf="clientes">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.name }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.phone }}</td>
              </tr>
        </tbody>
</table>

