<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title><h3 class="mt-2">Interactive Online Innovations</h3></mat-card-title>
          <img style="width: 11rem;"  src="../../assets/imgs/logo.png" >
        </mat-card-title-group>
        <mat-card-content>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Usuario</span>
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Contraseña</span>
                <input type="password" placeholder="Contraseña" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </mat-card-content>
        <mat-card-actions  class="ms-0 me-0">
            <a href="/inicio" class="btn btn-primary w-100">INICIAR SESION</a>
        </mat-card-actions>
    </mat-card>
      
</div>
