
<ng-container *ngIf="authService.isAuthenticated() else login">
  <mat-toolbar color="primary" class="d-flex justify-content-end">
  <button mat-button [matMenuTriggerFor]="afterMenu">{{authService.usuario.nombrePersona}}
    <mat-icon class="text-white">account_circle</mat-icon>
  </button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Perfil</button>
    <button mat-menu-item (click)="logout()">Cerrar sesion</button>
  </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container *ngIf="true" class="h-100">
    <mat-sidenav [opened]="isSidenavOpen" #sidenav mode="side">
      <app-dashboard></app-dashboard>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <button mat-icon-button color="accent"  (click)="toggleSidenav()" aria-label="Example icon button with a menu icon">
            <mat-icon class="text-dark">{{ isSidenavOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>
