<h2 class="mb-3">{{titulo | uppercase}}</h2>
<form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-1">
          <label for="inputNombre" class="col-form-label">Nombre:</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputNombre" class="form-control" aria-describedby="nombreHelpInline"  formControlName="name">
        </div>
        <div *ngIf="formCliente.get('name')?.hasError('required') && formCliente.get('name')?.touched">
            <span class="text-danger tamanio-texto-alerta d-flex align-items-center"><mat-icon>info</mat-icon> El nombre es obligatorio.</span>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-1">
          <label for="inputEmail" class="col-form-label">Email:</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputEmail" class="form-control" aria-describedby="EmailHelpInline" formControlName="email">
        </div>
        <div *ngIf="formCliente.get('email')?.hasError('required') && formCliente.get('email')?.touched">
            <span class="text-danger tamanio-texto-alerta d-flex align-items-center"><mat-icon>info</mat-icon> El Email es obligatorio.</span>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-1">
          <label for="inputTelefono" class="col-form-label">Teléfono:</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputTelefono" class="form-control" aria-describedby="TelefonoHelpInline" formControlName="phone">
        </div>
        <div *ngIf="formCliente.get('phone')?.hasError('required') && formCliente.get('phone')?.touched">
            <span class="text-danger tamanio-texto-alerta d-flex align-items-center"><mat-icon>info</mat-icon> El Teléfono es obligatorio.</span>
        </div>
    </div>
    <div *ngIf="!banderaVer" class="d-grid gap-2 d-md-block">
      <button class="me-1" mat-raised-button color="primary" type="submit" [disabled]="formCliente.invalid">{{!this.banderaActualizar?'Agregar Cliente':'Editar Cliente'}}</button>
      <button mat-raised-button color="primary" type="button" (click)="cancelar()" >Cancelar</button>
    </div>
</form>